<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">API desenvolvida em ASP.NET para a Avaliação Final da disciplina de Software Engineering Development.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Iniciar os Testes</h2>
        <p>Acesse os @Html.ActionLink("Endpoints", "Index", "Help", new { area = "" }, null) disponíveis para o teste .</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Leia mais &raquo;</a></p>
    </div>
</div>
