<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">API desenvolvida em ASP.NET para a Avaliação Final da disciplina de Software Engineering Development.</p>
    <p><a href="https://github.com/brodripa/Intrumentos-Musicais" class="btn btn-primary btn-lg">Acesse o GitHub &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Swagger</h2>
        <p>Você pode acessar o Swagger para realizar os testes.</p>
        <p><a class="btn btn-default" href="https://localhost:44350/swagger">Ir para o Swagger &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>APIs</h2>
        <p>Veja os @Html.ActionLink("Endpoints", "Index", "Help", new { area = "" }, null) disponíveis para o teste .</p>
    </div>
</div>